{% extends "layout/common.twig" %}

{% block search %}
    {% include "layout/search_block.twig" %}
{% endblock %}

{% block body %}
    <div class="slider">
        <div class="slider_list">
        {% for item in banner %}
            <a
                href="{{ item.link }}"
                class="slider_item"
                style="background-image: url('{{ item.preview }}')"
            >
                <div class="slider_item_title">
                    {{ item.name }}
                </div>

                <div class="slider_item_button flex_center">
                    {{ item.button }}
                </div>
            </a>
        {% endfor %}
        </div>
    </div>

    <div class="section_tile">
    {% for item in section %}
        <div
            class="section_tile_item"
            style="background-image: url('{{ item.preview  }}')"
        >
            <a
                href="/catalog/{{ item.slug }}/"
                class="section_tile_text"
            >
                {{ item.name }}
            </a>
        </div>
    {% endfor %}
    </div>

    {% include "catalog/product_slider.twig" with {'title': 'New Product', 'list': novelty} %}
    {% include "catalog/product_slider.twig" with {'title': 'Popular Product', 'list': popular} %}
{% endblock %}

{% block title %}
    HOME PAGE
{% endblock %}
