<div class="product_card">
    <a
        href="/product/{{ slug }}/"
        title="{{ name }}"
        class="product_card_image"
    >
        <picture >
            <img
                src="{{ preview }}"
                alt="{{ name }}"
                title="{{ name }}"
            />
        </picture>
    </a>

    <div class="product_card_data">
        <a href="/product/{{ slug }}/" class="product_card_name">
            {{ name }}
        </a>

        {%
            include "catalog/product_price.twig" with
            {"id": _id, 'price': 35, 'discount': 10}
        %}
    </div>
</div>
